@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #2563eb;
    border-color: #2563eb;
    border-bottom-width: 2px;
}

.active svg {
    color: #2563eb;
}

.current {
    display: block;
}

.activeNavbar {
    background-color: #1d4ed8;
    padding: 3px;
    border-radius: 5px;
}