@tailwind base;
@tailwind components;
@tailwind utilities;


.active {
    color: #ffafcc;  /* Soft pink */
    border-color: #ffafcc;
}

.active svg {
    color: #ffafcc;
}

.current {
    display: block;
}

.activeNavbar {
    background-color: #8338ec;  /* Soft purple */
    padding: 3px;
    border-radius: 5px;
}

h1, h2, h3, h4 {
    color: #ff63b1; /* Soft pink */
}

.navbarBtn {
    color: #bde0fe;  /* Light blue */
    padding: 10px;
}

.navbarBtn:hover {
    background-color: #00b4d8;  /* Bright blue */
}